.clear {
    clear: both;
}

.main_container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 80px;
}

.logo {
    float: left;
    height: 75px;
    width: 200px;
    margin-right: 150px;
}

.title {
    margin-left: 20px;
    line-height: 75px;
}

.top_menu {
    float: right;
    height: 75px;
    width: 740px;
    align-items: center;
}

.menu {
    list-style: none;
    float: right;
}

.menu_element {
    font-size: 12px;
    font-family: "Arial";
    font-weight: bold;
    float: left;
    margin-right: 40px; 
    line-height: 75px; 
}

.menu_element_action_button {
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial";
    border: 2px solid #ff6a00;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    float: left;
    line-height: 46px; 
    text-align: center; 
    margin-right: 40px; 
    margin-top: 12px; 
}

.columns_container {
    margin-bottom: 20px;
    padding: 80px 0 120px 80px;
}

.column {
    float: left;
    width: 460px;
    margin-right: 20px;
    height: 569px;
}

.column_last {
    margin-right: 0;
    border-radius: 5px;
    float: left;
    width: 700px;
    height: 569px;
    background: #9eddf8;
}

.footer {
    height: 75px;
    width: 1200px; 
    margin: 0 auto;
}

.first_text {
    font-size: 50px;
    font-family: "Arial";
    font-weight: bold;
    margin: 0px;
    margin-top: 90px;
}

.second_text {
    margin-top: 0px;
    font-size: 17px;
    font-family: "Arial";
    width: 440px;
    margin-top: 50px;
}

.table {
    width: 350px;
    margin-top: 50px;
}

.button1 {
    font-family: "Arial";
    background-color: #233fe2;
    color: #ffffff;
    border: 2px solid #233fe2;
    border-radius: 25px;
    width: 152px;
    height: 50px;
    font-size: 15px;
}

.button2 {
    font-family: "Arial";
    background-color: #ffffff;
    color: #060c31;
    border: 2px solid #ffb0b1;
    border-radius: 25px;
    width: 152px;
    height: 50px;
    font-size: 15px;
}

.bottom_menu {
    float: right;
    height: 100%;
}

.title {
    margin: 0px;
    font-size: 24px;
    font-family: "Arial";
}
